$fontFamily: sans-serif, Arial, Helvetica;
$backgroundColor: whitesmoke;
$backgroundColor1: #A9D6E5;
$backgroundColor2: #021A4A;
$displayBackgroundColor: #EBF0F1;
$shadowColor: #021A4A;
$regularFontColor: #212529;
$buttonFontColor: #013A63;


* { // * start
    margin: auto;
    padding-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
    color: $regularFontColor;
    font-size: 20px;
} // * end

main {
    width: 375px;
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.translator {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, $backgroundColor1, $backgroundColor2);
    padding: 0;
    width: 45vw;
    height: 65vh;
    margin: auto;
    // margin: 10px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    &__heading {
        color: $backgroundColor1;
        width: 375px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center;
    }

    &__input { // &__input start
        display: flex;
        flex-direction: column;
        padding: 0;
        // background-color: $translatorBackgroundColor;
        gap: 20px;
    }
    #input-area {
        background-color: $displayBackgroundColor;
        font-size: medium;
        word-wrap: break-word;
        // word-break: break-all;
        height: 20vh;
        width: 40vw;
        text-align: left;
        justify-content:flex-start;
        align-items:flex-start;
        // width: 200px;
        padding: 5px;
        // margin: 0;
        // margin: auto;
        border: none;
    }

    #translate-button { // button start 
        background-color: $displayBackgroundColor;
        color: $buttonFontColor;
        border-radius: 5px;
        width: 150px;
        text-align: center; // centers text in a 
        // margin: auto;
        margin-top: 15px;
        padding: 0;
        box-shadow: 5px 5px $shadowColor;
    } // button end

    #translate-button:active { // .button:active start
        box-shadow: 8px 6px $shadowColor;
    }

    #output-area { // &__output start
        background-color: $displayBackgroundColor;
        border-radius: 5px;
        justify-content: center;
        align-items:flex-start;
        font-size: medium;
        margin: auto;
        padding: 5px;
        margin-bottom: 30px;
        height: 20vh;
        width: 40vw;
    }
}