$fontFamily: sans-serif, Arial, Helvetica;
$backgroundColor: whitesmoke;
$backgroundColor1: #A9D6E5;
$backgroundColor2: #021A4A;
$toggleColor: #013A63;
$displayBackgroundColor: #EBF0F1;
$shadowColor: #021A4A;
$regularFontColor: #212529;
$buttonFontColor: #013A63;
* { // * start
    margin: auto;
    padding-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
    color: $regularFontColor;
    font-size: 20px;
} // * end
main {
    width: 375px;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.translator {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, $backgroundColor1, $backgroundColor2);
    padding: 0;
    width: 45vw;
    height: 65vh;
    margin: auto;
    // margin: 10px 10px 10px 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    &__heading {
        color: $backgroundColor1;
        width: 375px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center;
    }
//toggle
    .toggle {
        --width: 80px;
        --height: calc(var(--width) / 3);
        // --height: 40px;
        position: relative;
        display: inline-block;
        width: var(--width);
        height: var(--height);
        // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            //   box-shadow: 1px 0px 1px $backgroundColor2;
        border-radius: var(--height);
        // width: 95px;
        // height: 30px;
        // border-radius: 35px;
        cursor: pointer;
    }
    .toggle input {
        display: none;
    }
    .toggle .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        border-radius: var(--height);
        background-color: $displayBackgroundColor;
        transition: all 0.4s ease-in-out;
    }
    .toggle .slider::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--height));
        height: calc(var(--height));
        border-radius: calc(var(--height) / 2);
        background-color: $toggleColor;
        // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 12px 8px $regularFontColor;
        transition: all 0.4s ease-in-out;
    }
    .toggle input:checked+.slider {
        background-color: $displayBackgroundColor;
    }
    .toggle input:checked+.slider::before {
        transform: translateX(calc(var(--width) - var(--height)));
    }
    /* Adding text in the toggle button */
    .toggle .labels {
        position: absolute;
        // top: 18px;
        left: 30px;
        bottom: 18px;
        width: 50%;
        height: 50%;
        // width: 100%;
        // height: 100%;
        font-size: 12px;
        font-family: sans-serif;
        color: $regularFontColor;
        transition: all 0.4s ease-in-out;
    }
    .toggle .labels::after {
        content: attr(data-off);
        position: absolute;
        right: 5px;
        color: $regularFontColor;
        opacity: 1;
        // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
        transition: all 0.4s ease-in-out;
    }
    .toggle .labels::before {
        content: attr(data-on);
        position: absolute;
        right: 25px;
        // left: 5px;
        color: $regularFontColor;
        opacity: 0;
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
        transition: all 0.4s ease-in-out;
    }
    .toggle input:checked~.labels::after {
        opacity: 0;
    }
    .toggle input:checked~.labels::before {
        opacity: 1;
    }
// toggle end
    &__input { // &__input start
        display: flex;
        flex-direction: column;
        padding: 0;
        // background-color: $translatorBackgroundColor;
        gap: 20px;
    }
    #input-area {
        background-color: $displayBackgroundColor;
        font-size: medium;
        word-wrap: break-word;
        // word-break: break-all;
        height: 15vh;
        width: 40vw;
        text-align: left;
        justify-content:flex-start;
        align-items:flex-start;
        // width: 200px;
        padding: 5px;
        // margin: 0;
        // margin: auto;
        border: none;
    }

    #translate-button { // button start 
        background-color: $displayBackgroundColor;
        color: $buttonFontColor;
        border-radius: 5px;
        width: 150px;
        text-align: center; // centers text in a 
        // margin: auto;
        margin-top: 1px;
        padding: 0;
        box-shadow: 5px 5px $shadowColor;
    } // button end

    #translate-button:active { // .button:active start
        box-shadow: 8px 6px $shadowColor;
    }

    #output-area { // &__output start
        background-color: $displayBackgroundColor;
        border-radius: 5px;
        justify-content: center;
        align-items:flex-start;
        font-size: medium;
        margin: auto;
        padding: 5px;
        margin-bottom: 30px;
        height: 15vh;
        width: 40vw;
    }
}